*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    transition: all 1s ease-in-out
  }

html{
    font-size: 65%;
    overflow-x: hidden;
    transition: all 1s ease-in-out
}

section{
    padding: 5rem 10%;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
    transition: all 1s ease-in-out
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: none;
    background: azure;

    .naviBar{
        z-index: 1000 !important;

        a{
            font-size: 3rem;
            margin-left: 3rem;
            margin-right: 3rem;
            color: black;
            padding: 1rem 3rem;
            transition: all 1s ease-in-out
        }

        a:hover{
            color:lightcyan;
            border: solid;
            background-color: darkgray;
        }
    }
}

@media (min-width:2000px) {

    .naviBar{
     position: absolute;
     display: flex;
     flex-direction: column;
     background: azure;
     backdrop-filter:blue(70px);
     width: 800px;
     height: 40vh;
     justify-content: center;
     align-items: center;
     padding: 10 ;
     margin-top: 5px;
     margin-left: -100%;
     transition: all 1s ease-in-out;
    }
    .navbar{
      margin-left: 0;
    }
     .header .me{
      display: block;
      top: 30px;
      right: 20px;
      width: 70px;
      cursor: pointer;
    }
}

.index{
    padding: 0;

    .slide{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/briel.jpg);
        background-size: 750px !important;
        background-position: center center !important;
        transition: all 1s ease-in-out;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60rem;

        .content{
            display: block;
            font-size: 3rem;
            color: azure;
            width: 85rem;

            h3{
                font-size: 6vw;
                color: azure;
                text-transform: uppercase;
                line-height: 1;
                text-shadow: darkgray;
                padding: 1rem 0;
            }

            .btn{
                display: inline-block;
                font-size: 1.7rem;
                padding: 1rem 3rem;
                color:azure;
            }
        }
    }
}

span{
    display: block;
    font-size: 3rem;
    color: azure;
    padding-bottom: 1rem;
}

/*Styles for the aboutMe*/

body {
    font-family: 'Arial, sans-serif';
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.personalInfo {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color:#333;
    background-color: azure;
    font-size: 2.5em;
}

.pAboutMe {
    line-height: 2.0;
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
}

.hobbies, .travel {
    margin-top: 20px;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: #777;
}

@media (max-width: 2000px) {
    .personalInfo {
        width: 800px;
        height: auto;
    }
}

/*Styles for Skills*/

.skillSection {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.skillSection p {
    line-height: 1.5;
    font-size: 2.0em;
    text-align: justify;
    margin-bottom: 20px;
}

.skillSection ul {
    display: inline-block;
    text-align: left;
    list-style-type: square;
    padding-left: 15px;
    margin: 10px auto;
    line-height: 2.0;
    font-size: 3.0em;
}

@media (max-width: 2000px) {
    .skillSection {
        width: 950px;
        height: auto;
    }
}

/*Styles for Contact*/

.contactInfo p {
    font-size: 1.5em;
}

.contactInfo a {
    color:green;
    text-decoration: none;
}

.contactInfo h5 {
    font-size: 4.0em;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.contactInfo a:hover {
    text-decoration: underline;
}

.contactInfo {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media (max-width: 2000px) {
    .contactInfo {
        width: 800px;
        height: auto;
    }
}

.contactForm {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 2000px) {
    .contactForm {
        width: 800px;
        height: auto;
    }
}

.contactForm h6 {
    font-size: 4.0em;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.contactForm label {
    display: block;
    margin-top: 30px;
    font-size: 1.5em;
}

.contactForm textarea {
    width: 100%;
    padding: 25px;
    margin-top: 7px;
    border-radius: 5px;
    background-color: azure ;
}

.contactForm input{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: azure ;
}

.contactForm button {
    text-align: left;
    font-size: 1.6em;
    text-decoration: underline;
}

